{% extends "livre/base.html" %}
{% load static %}

{% block title %}Indexation de livre{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class = "alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}
{% endif %}

<br>
<form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    <input type="file" id="file_input" name="file_field" webkitdirectory directory/>
    <input type="text" id="directories" name="directories" hidden/>
    <input type="submit" value="Indexer">
</form>


{% endblock %}