{% extends "livre/base.html" %}
{% load static %}

{% block title %}Recherche de livre{% endblock %}

{% block content %}

<form action="" method="post">  
    {% csrf_token %}    
    {% for f in form %}
        {{ f.label|linebreaks }}
        {{ f }}
    {% endfor %}



    <br>
    <input type="submit" value="Envoyer">

    {% for l in livres %}
    
      <h5>{{ l.titre }}</h5>
      <p> {{ l.auteur}}</p>
    
      <p>  
      <a href= {{ l.lien }}> Lien vers Gutenberg </a> 
      </p> 
      <hr>
    
  {% endfor %}

  
  </form>



{% endblock %}